
{% extends 'base.html.twig' %}

  {% block titre %}{% endblock %}
  {% block css %}{% endblock %}
{%block body%}    
<main> 
    <div class="special-container m-5">

           <!-- ======= Our Services Section ======= -->
    <section id="services" class="services sections-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Services aux Sénégalais</h2>
        </div>
        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">
          <div class="col-xl-3 col-md-5">
            <div class="service-item  position-relative">
              <img class="card-img-top" src="https://th.bing.com/th/id/OIP.KIIYMCLscIa5nGbIjqm3zgAAAA?w=233&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" width="150px" height="200px" alt="Documents de voyages">
              <h3>Documents de voyages</h3>
              <p>Première demande de passeport, Renouvellement de passeport, Sauf conduit</p>
              <a href="{{path('app_documentsdevoyage') }}" class="goto-link"><strong>Consulter <i class="bi bi-arrow-right"></i></strong></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-5">
            <div class="service-item position-relative">
             <img class="card-img-top" src="{{asset('assets/img/etatcivil.png')}}" width="150px" height="200px" alt="Etat Civil">
              <br><br><h3>Etat Civil</h3>
              <p>Carte consulaire, Certificat de coutume, Transcription de naissance, Laissez-passer mortuaire...</p>
              <a href="{{path('app_etatcivil')}}" class="goto-link"><strong>Consulter <i class="bi bi-arrow-right"></i></strong></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-5">
            <div class="service-item position-relative">
              <img class="card-img-top" src="https://senegalembassy.co.za/wp-content/uploads/2019/01/carte_biometrique_0_0.jpg" width="150px" height="200px" alt="CNI">
              <br><br><h3>CNI</h3>
              <p>Carte d'Identité et Immatriculation</p><br><br><br>
              <a href="{{ path('app_cni') }}" class="goto-link"><strong>Consulter <i class="bi bi-arrow-right"></i></strong></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-5">
            <div class="service-item position-relative">
             <img class="card-img-top" src="{{asset('assets/img/autreservice.png')}}" width="150px" height="200px" alt="Autres service">
              <br><h3>Autres Services</h3>
              <p>Service Juridique, Service sociale, Légalisation,...</p>
              <br><br><a href="{{path('app_autreservices')}}" title="autres-services" class="goto-link"><strong>Consulter <i class="bi bi-arrow-right"></i></strong></a>
            </div>
          </div><!-- End Service Item -->
        </div>
      </div>
    </section><!-- End Our Services Section ==== -->

     
    
 

</main>
     {%endblock%}

