{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }} 
    <div class="container" style="text-align:center">
        <div class="row">
            <div class="col-4" style="text-align:center">
                {{form_row(form.prenom)}}
            </div>
            <div class="col-4" style="text-align:center">
                {{form_row(form.nom)}}
            </div>
        </div>

        <div class="row">
            <div class="col-4" style="text-align:center">
                {{form_row(form.dateDeNaissance)}}
            </div>
            <div class="col-4" style="text-align:center">
                {{form_row(form.lieuDeNaissance)}}
            </div>
        </div>
    </div>
    <br>
    <button class="btn" style="background-color:#009688; float:left">{{ button_label|default('Ajouter') }}</button> <br><br>
{{ form_end(form) }}
