{% extends './home/base.html.twig' %}

<!DOCTYPE html>

<title>PasseportDisponible index</title>

{% block body %}
    <h1>PasseportDisponible index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>DateDeNaissance</th>
                <th>LieuDeNaissance</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for passeport_disponible in passeport_disponibles %}
            <tr>
                <td>{{ passeport_disponible.id }}</td>
                <td>{{ passeport_disponible.nom }}</td>
                <td>{{ passeport_disponible.prenom }}</td>
                <td>{{ passeport_disponible.dateDeNaissance ? passeport_disponible.dateDeNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ passeport_disponible.lieuDeNaissance }}</td>
                <td>
                    <a href="{{ path('app_passeport_disponible_show', {'id': passeport_disponible.id}) }}">show</a>
                    <a href="{{ path('app_passeport_disponible_edit', {'id': passeport_disponible.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_passeport_disponible_new') }}">Create new</a>
{% endblock %}
