{% extends './home/base.html.twig' %}
 {% block titre %}Prestations consulaires {% endblock %}
  {% block css %}{% endblock %}
      {% block body %}

<div class="example-wrapper">
   <!-- ======= Our Services Section ======= -->
    <section id="services" class="services sections-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Prestations consulaires</h2>
        </div>
        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">
          <div class="col-xl-3 col-md-5">
            <a href="{{path('app_servicesauxsenegalais')}}">
              <div class="service-item  position-relative">
                <img class="card-img-top" src="{{asset('assets/img/passport.png')}}" width="100px" height="150px" alt="Services aux Sénégalais">
                <h3>Services aux Sénégalais</h3>
                <ul>
                  <li>Documents de voyages </li>
                  <li>Etat-Civil </li> 
                  <li>CNI </li>
                  <li>Immatriculation </li> 
                  <li>Légalisation </li> 
                  <li>etc... </li>   
                </ul>
            </a>
          </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-5">
            <a href="{{path('app_demandedevisa')}}">
            <div class="service-item position-relative">
             <img class="card-img-top" src="{{asset('assets/img/visasn.jpg')}}" width="100px" height="150px" alt="Services aux Etrangers">
              <h3>Services aux Etrangers</h3>
              <ul>
                <li>Demande de visa</li>
              </ul><br><br><br>
            </a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-5">
            <a href="{{path('app_objetdurdv') }}">
            <div class="service-item position-relative">
              <img class="card-img-top" src="{{asset('assets/img/rdv.jpg')}}" width="100px" height="150px" alt="Prendre RDV">
              <br><br><h3>Prendre RDV</h3>
              <ul>
                <li>Système de demande de Rendez-vous consulaire en ligne</li>
              </ul><br>
              </a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-5">
            <a href="https://www.visitezlesenegal.com/">
            <div class="service-item position-relative">
              <img class="card-img-top" src="{{asset('assets/img/visitezsn.jpg')}}" width="100px" height="150px" alt="Visitez le Sénégal">
              <h3>Visitez le Sénégal</h3>
              <ul>
                <li>Dakar </li>
                <li>Lac Rose </li>
                <li>Saly Portudal </li>
                <li>Goré </li>
                <li>Ngor </li>
                <li>Iles du Saloum </li>
              </ul>
            
            </a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-5">
            <a href="{{path('app_passeport_disponible_new')}}">
            <div class="service-item position-relative"> 
             <img class="card-img-top" src="{{asset('assets/img/documentsdevoyage.jpg')}}" width="100px" height="150px" alt="Services aux Etrangers">
              <h3>Passeport disponible</h3>
              <strong> Vérifiez si votre passeport est disponible </strong> <br><br><br>
            </a>
            </div>
          </div><!-- End Service Item -->
        </div>
      </div>
    </section><!-- End Our Services Section -->

 
    <!-- End Our Services Section -->
</div>
{% endblock %}
