{% extends './home/base.html.twig' %}
 {% block titre %}Prestations consulaires {% endblock %}
  {% block css %}{% endblock %}
      {% block body %}

<div class="example-wrapper">
   <!-- ======= Our Services Section ======= -->
    <section id="services" class="services sections-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Prestations consulaires</h2>
        </div>
        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">
          <div class="col-xl-3 col-md-5">
            <a href="{{path('app_servicesauxsenegalais')}}">
              <div class="service-item  position-relative">
                <img class="card-img-top" src="{{asset('assets/img/passport.png')}}" width="150px" height="200px" alt="Services aux Sénégalais">
                <h3>Services aux Sénégalais</h3>
                <p>Documents de voyages, Etat-Civil , CNI, Immatriculation, Légalisation,...</p>
            </a>
          </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-5">
            <a href="{{path('app_demandedevisa')}}">
            <div class="service-item position-relative">
             <img class="card-img-top" src="{{asset('assets/img/visasn.jpg')}}" width="150px" height="200px" alt="Services aux Etrangers">
              <h3>Services aux Etrangers</h3>
              <p>Demande de visa</p><br><br><br>
            </a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-5">
            <a href="{{path('app_objetdurdv') }}">
            <div class="service-item position-relative">
              <img class="card-img-top" src="{{asset('assets/img/rdv.jpg')}}" width="150px" height="200px" alt="Prendre RDV">
              <br><br><h3>Prendre RDV</h3>
              <p>Système de demande de Rendez-vous consulaire en ligne</p><br>
              </a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-5">
            <a href="https://www.visitezlesenegal.com/">
            <div class="service-item position-relative">
              <img class="card-img-top" src="{{asset('assets/img/visitezsn.jpg')}}" width="150px" height="200px" alt="Visitez le Sénégal">
              <h3>Visitez le Sénégal</h3>
              <p>Dakar, Lac Rose, Saly Portudal, Gorée, Ngor, Iles du Saloum, ...</p>
            </a>
            </div>
          </div><!-- End Service Item -->
        </div>
      </div>
    </section><!-- End Our Services Section -->

</div>
{% endblock %}
