<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

 
  

  <title>
  {%block title%}Consulat Génégal du Sénégal à Marseille{%endblock%}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{asset('assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{asset('assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{asset('assets/vendor/aos/aos.css" rel="stylesheet')}}">
  <link href="{{asset('assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{asset('assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{asset('assets/css/main.css')}}" rel="stylesheet">

{%block css%}{%endblock%}

</head>

<body>
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="{{asset('assets/img/logo.jpg')}}" alt="logo" width="70" height="800">
       
        <span class="text-logo" style="text-align:left; color:#FFFFFF; font-size:15px">République du Sénégal<br>Un peuple - un But - <br>Une Foi<br></span>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Accueil</a></li>
          <li><a href="#">Services consulaires</a></li>
          <li><a href="{{path('app_annuaireconsulaire')}}">Annuaires consulaires</a></li>
          <li><a href="{{path('app_contact')}}">Contact</a></li>
          <li> <li>
                  <form role="search" method="get" class="search-form" action="/">
				<label>
					<input type="search" class="search-field" placeholder="Rechercher…" value="" name="s" style="width:120px"/>
				</label>
        
        <button type="button" class="search-submit" style="background-color:white">
          <i class="bi bi-search"></i>
          </button>
			</form>                </li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <div class="container text-center">
		{%block body%}{%endblock%}
	</div>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2>Consulat Général Sénégal à Marseille </h2>      
        </div>    
      </div>
    </div>

    <div class="icon-boxes position-relative">
      <div class="container position-relative">
        

        </div>
      </div>
    </div>

    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main">
    <!-- ======= Our Services Section ======= -->
    <section id="services" class="services sections-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Prestations consulaires</h2>
        </div>
        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">
          <div class="col-xl-3 col-md-5">
            <div class="service-item  position-relative">
              <img class="card-img-top" src="https://www.consulat.ma/sites/default/files/2018-08/passport_0.png" width="150px" height="200px" alt="Services aux Sénégalais">
              <h3>Services aux Sénégalais</h3>
              <p>Documents de voyages, Etat-Civil , CNI, Immatriculation, Légalisation,...</p>
              <a href="{{path('app_servicesauxsenegalais') }}" class="goto-link"><strong>Consulter <i class="bi bi-arrow-right"></i></strong></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-5">
            <div class="service-item position-relative">
             <img class="card-img-top" src="https://www.musicinafrica.net/sites/default/files/images/article/201412/visa-senegal.jpg" width="150px" height="200px" alt="Services aux Etrangers">
              <h3>Services aux Etrangers</h3>
              <p>Demande de visa</p><br><br><br>
              <a href="{{path('app_demandedevisa')}}" class="goto-link"><strong>Consulter <i class="bi bi-arrow-right"></i></strong></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-5">
            <div class="service-item position-relative">
              <img class="card-img-top" src="https://www.ch-sudgironde.fr/wp-content/uploads/2021/09/RDV-EN-LIGNE-carte-d-identite-et-passeport_image_600x285.jpg" width="200px" height="225px" alt="Prendre RDV">
              <h3>Prendre RDV</h3>
              <p>Système de demande de Rendez-vous consulaire en ligne</p><br>
              <a href="{{ path('app_objetdurdv') }}" class="goto-link"><strong>Consulter <i class="bi bi-arrow-right"></i></strong></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-5">
            <div class="service-item position-relative">
              <img class="card-img-top" src="https://www.ocoeurdepassy.com/wp-content/uploads/2015/08/Gor%C3%A9e-MaisonEsclavesweb.jpg" width="150px" height="200px" alt="Visitez le Sénégal">
              <h3>Visitez le Sénégal</h3><br><br><br><br><br>
              <a href="https://www.visitezlesenegal.com/" title="Visitez le Sénégal" class="goto-link"><strong>Consulter <i class="bi bi-arrow-right"></i></strong></a>
            </div>
          </div><!-- End Service Item -->
        </div>
      </div>
    </section><!-- End Our Services Section -->


    
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Communiqué</h2>
          <p>Aperiam dolorum et et wuia molesti incidunt dolores placeat delop</p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-6">
            <h3>Voluptatem dignissimos provident quasi corporis</h3>
            <p>Ut fugiat ut sunat debitis quia recusandae odit et consequatur voluptatem. Dignissimos pariatur consectetur fugiat voluptas ea.</p>
          </div>
          <div class="col-lg-6">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
              </p>
              <ul>
                <li><i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                <li><i class="bi bi-check-circle-fill"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                <li><i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
              </ul>
              <p>
                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              </p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->  

  </main><!-- End #main -->

 

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{{asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{asset('assets/vendor/aos/aos.js')}}"></script>
  <script src="{{asset('assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{asset('assets/vendor/purecounter/purecounter_vanilla.js')}}"></script>
  <script src="{{asset('assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{asset('assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{asset('assets/vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{asset('assets/js/main.js')}}"></script>
{%block scripts%}{%endblock%}

</body>
  {% include './footer.html.twig' %}

</html>