{% extends './home/base.html.twig' %}
<!DOCTYPE html>

<title>Les étudiants</title>

{% block body %}
    <h3>Les étudiants</h3><br><br>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Telephone</th>
                <th>DateDeNaissance</th>
                <th>LieuDeNaissance</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etudiant in etudiants %}
            <tr>
                <td>{{ etudiant.id }}</td>
                <td>{{ etudiant.prenom }}</td>
                <td>{{ etudiant.nom }}</td>
                <td>{{ etudiant.telephone }}</td>
                <td>{{ etudiant.dateDeNaissance ? etudiant.dateDeNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ etudiant.lieuDeNaissance }}</td>
                <td>{{ etudiant.email }}</td>
                <td>
                    <a href="{{ path('app_etudiant_show', {'id': etudiant.id}) }}">Voir</a><br>
                    <a href="{{ path('app_etudiant_edit', {'id': etudiant.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_etudiant_new') }}">Ajouter</a>
{% endblock %}
